[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/qianxie777
[access "refs/for/refs/*"]
	read = group user/qianxie777
	push = group user/qianxie777
	label-Code-Review = -2..+2 group user/qianxie777
	label-Verified = -1..+1 group user/qianxie777
	rebase = group user/qianxie777
	removeReviewer = group user/qianxie777
	submit = group user/qianxie777
[access "refs/heads/*"]
	read = group user/qianxie777
	create = group user/qianxie777
	push = +force group user/qianxie777
	pushMerge = group user/qianxie777
[access "refs/tags/*"]
	push = +force group user/qianxie777
	pushTag = group user/qianxie777
	pushSignedTag = group user/qianxie777
